<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Rože in Cvetje * Spletna cvetličarna</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />   
<link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>

<body>

<div class="top-wrap">
<div class="top">

	<ul class="align-left">
		<li class="nav-top-left"><a href="" class="nav-top-left-link">Kontakt</a></li>
		<li class="nav-top-left"><a href="">Dostava</a></li>
		<li class="nav-top-left"><a href="">Pogoji poslovanja</a></li>
		<li class="nav-top-left"><a href="">O nas</a></li>
	</ul>

	<ul class="align-right">
		<li class="auth-top-login"><a href="" class="auth-top-login-link">Login</a></li>
        <li class="auth-top-logout"><a href="" class="auth-top-logout-link">Logout</a></li>
		<li class="nav-top-right"><a href="" class="nav-top-right-link">Registracija</a></li>
	</ul>

</div>
</div><!-- end top-wrap -->

<div class="container">

	<div class="header">

		<div class="cart">
			<div class="cart-content">
				<div>Košarica</div>
				<span class="cart-total">2100,00 EUR</span>
			</div>
			<div class="cart-button">
				<a href="/checkout"></a>
			</div>
		</div>

		<div class="modra-st"></div>

		<div class="logo"><a href="/"></a></div>

	</div> <!-- end header -->

	<div class="navigation">

		<ul class="nav-main">
			<li class="nav-menu-main"><a href="" class="link-main">Valentinovo</a></li>
			<li class="nav-menu-main"><a href="">Rojstni dan</a></li>
			<li class="nav-menu-main"><a href="">Priložnosti</a></li>
			<li class="nav-menu-main"><a href="">Rože</a></li>
			<li class="nav-menu-main"><a href="">Lončnice</a></li>
			<li class="nav-menu-main"><a href="">Pogreb</a></li>
		</ul>

		<div class="clear"></div>

	</div> <!-- end navigation -->

	<div class="clear"></div>

	<div class="leftbar">

		<div class="subnav-bg">
		<div class="subnav-border">
			<ul class="subnav-l1">
				<li><a href="">Priložnosti</a></li>
				<li class="selected"><a href="">Rože</a>
					<ul class="subnav-l2">
						<li><a href="">Valentinovo</a></li>
						<li><a href="">Rojstni dan</a></li>
					</ul>
				</li>
				<li><a href="">Lončnice</a></li>
				<li><a href="">Darilne košare</a></li>
			</ul>
		</div>
		</div>

		<div class="widget-bg">
		<div class="widget-border">
			<h3>Kaj je vključeno v ceno?</h3>
			<ul>
				<li>Darilna kartica</li>
				<li>Posvetilo po vaši izbiri</li>
				<li>Aaranžiranje in priprava</li>
				<li>Dostava na izbran naslov</li>
				<li>Storitev z nasmehom</li>
			</ul>
		</div>
		</div>

	</div> <!-- end leftbar -->

	<div id="content">
	</div>

	<div class="rightbar">

		<div class="search-bg">
		<div class="search-border">
			<h3>Iskanje</h3>
			<form action="/search">
			<input type="text" class="fld-search" name="q"/> <input type="submit" value="Najdi" class="btn-submit" />
			</form>
		</div>
		</div>

		<a href="" class="right-widget">* Pod 30€</a>

		<a href="" class="right-widget">* Romanca</a>

		<a href="" class="right-widget">* Rojstni dan</a>

		<a href="" class="right-widget-big">Christmas <span>We guarantee delivery on christmas eve</span></a>

		<a href="" class="right-widget-big">Fresh <span>7 days of flower freshness guaranteed</span></a>

	</div> <!-- end rightbar -->

	<div class="rightbar-cart">

		<div class="subnav-bg">
		<div class="subnav-border">

			<h3 class="cart-title">Vaša košarica</h3>

			<div class="cart-item">
				<img src="img/img_thumb1.jpg" class="cart-item-image" width="50" height="50" />

				<div class="cart-item-name">Šopek 12 vrtnic v prozorni vazi</div>
				<span class="cart-item-price">30,00 EUR</span>
			</div>

			<div class="cart-item">
				<img src="img/img_thumb1.jpg" width="50" height="50" />

				<div>Šopek 12 vrtnic v prozorni vazi</div>
				30,00 EUR
			</div>

			<div class="cart-item">
				<img src="img/img_thumb1.jpg" width="50" height="50" />

				<div>Šopek 12 vrtnic v prozorni vazi</div>
				30,00 EUR
			</div>

			<div class="cart-sum">Skupaj: 90,00 EUR</div>

			<div class="clear"></div>
		
		</div>
		</div>


		<div class="subnav-bg">
		<div class="subnav-border">

			<h3>Imate kupon za popust?</h3>
			<form name="coupon">
			<input type="text" name="coupon" class="fld-coupon" /> <input type="submit" value="Uveljavi kupon" class="btn-small" />
			</form>
			<div class="clear"></div>
		
		</div>
		</div>

	</div> <!-- end rightbar -->

	<div class="clear"></div>

	<div class="footer-bg">
	<div class="footer-border">
		© 2011 Rože in Cvetje <div align=center><a href="/admin">Site Admin</a>
	</div>
	</div>

</div> <!-- end container -->

</body>
</html>

