	<div class="main-cart">

		<h1>Vaše naročilo</h1>

		<div class="category-bg">
		<div class="category-border">
			<div class="step-box">1. Dostava</div>
			<div class="step-box">2. Plačilo</div>
			<div class="step-box">3. Povzetek</div>
			<div class="step-box step-box-selected">4. Zaključek</div>
			<div class="clear"></div>
		</div>
		</div>

		<form class="frm-default">

		
		<p>&nbsp;</p>

		<div class="confirm">
			Hvala za vaše naročilo! Paket bo dostavljen na naslov, ki ste ga določili najkasneje v treh dneh.
		</div>

			
		</form>

	</div> <!-- end main -->
