	<div class="main">
	  
		<div class="filters">
		  <form name="sort">
			Razvrsti po: 
			<select name="sort" class="sort" onChange="this.form.submit()">
				<option value="priority">Priljubljenosti</option>
				<option value="price">Cena</option>
			</select>
		  </form>
		</div>
		
		<div class="product-box">
			<a href="/" class="product-link"><img src="img/img_product.jpg" class="product-image" width="160" height="160"/></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="product-box">
			<a href=""><img src="img/img_product.jpg" /></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="product-box last">
			<a href=""><img src="img/img_product.jpg" /></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="product-box">
			<a href=""><img src="img/img_product.jpg" /></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="product-box">
			<a href=""><img src="img/img_product.jpg" /></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="product-box last">
			<a href=""><img src="img/img_product.jpg" /></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="product-box">
			<a href=""><img src="img/img_product.jpg" /></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="product-box">
			<a href=""><img src="img/img_product.jpg" /></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="product-box last">
			<a href=""><img src="img/img_product.jpg" /></a>
			<div class="product-name">
			<a href="">Šopek 12 vrtnic v stekleni prozorni vazi</a>
			</div>
			<div class="product-price">
			39,99 EUR
			</div>
		</div>

		<div class="clear"></div>

		<div class="filters">

			<div class="pagging">
				<ul>
					<li><a href="">Previous</a></li>
					<li><a href="" class="selected">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li>..........</li>
					<li><a href="">23</a></li>
					<li><a href="">24</a></li>
					<li><a href="">25</a></li>
					<li><a href="">Next</a></li>
				</ul>
			</div>

		</div>

	</div> <!-- end main -->
