/* ***** BASIC ELEMENTS ********************************************************** */


/* ----- elements reset ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ---------------------------- */


body {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
	color: black;
	background: white;
	padding-bottom: 30px;
	}

p {
	padding-bottom: 15px;
	line-height: 18px;
	}

a {
	text-decoration: none;
	color: #3463c2;
	}

	a:hover {
		text-decoration: underline;
		color: green;
		}

strong {
	font-weight: bold;
	}

input, select, textarea {
	font-size: 11px;
	padding: 3px;
	font-family: Arial;
	border: 0;
	border-left: 1px solid #d0dce1;
	border-top: 1px solid #d0dce1;
	border-bottom: 1px solid #89a1aa;
	border-right: 1px solid #89a1aa;
	border-radius: 3px;
	}

h1 {
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 20px;
	font-family: Georgia;
	}

h2 {

	}

h3 {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 12px;
	font-family: Georgia;
	}

.main ul, .main-full, .main-product ul {
	margin-bottom: 15px;
	}

ul li {
	margin: 6px 0 6px 5px;
	padding-left: 10px;
	background: url('img/i_bullet.png') no-repeat 0 2px;
	}


.frm-default ul li {
	margin: 0; padding: 0; background: 0;
	margin: 10px 0;
	overflow: hidden;
	}

.frm-default fieldset {
	position: relative;
	padding: 10px 15px;
	border: 1px dashed #cccccc;
	border-radius: 6px;
	margin-bottom: 15px;
	}

.frm-default legend {
	font-size: 11px;
	padding: 5px 10px;
	border: 0px dashed #cccccc;
	font-weight: bold;
	border-radius: 3px;
	}

.frm-default label {
	display: block;
	margin-bottom: 5px;
	color: #677450;
	font-size: 11px;
	}

.frm-default input, .frm-default textarea, .frm-default select {
	width: 200px;
	}



.fld-search {
	width: 80px;
	}

.fld-date {
	width: auto !important;
	}

.fld-small {
	width: 50px !important;
	}


.btn-submit{
	width: auto !important;
	padding: 2px 5px;
	background: #566d1a;
	color: #ffffff;
	border-top: 0px solid #293508;
	border-left: 0px solid #293508;
	border-bottom: 1px solid #293508;
	border-right: 1px solid #293508;
	}

.btn-big{
	width: auto !important;
	padding: 5px 10px;
	background: #566d1a;
	color: #ffffff;
	border-top: 0px solid #293508;
	border-left: 0px solid #293508;
	border-bottom: 1px solid #293508;
	border-right: 1px solid #293508;
	font-size: 12px;
	font-weight: bold;
	}

.clear {
	clear: both;
	height: 0px;
	}

.align-left {
	display: block;
	float: left !important;
	}

.align-right {
	display: block;
	float: right !important;
	}


.txt-info {
	font-size: 11px;
	color: #666666;
	}


.link-login {
	background: url('img/i_key.png') no-repeat 0 0;
	padding: 2px 0;
	padding-left: 15px;
	}

.no-margin {
	margin: 0 !important;
	}






/* ***** LAYOUT ***************************************************************** */


.container {
	width: 960px;
	margin: 0 auto;
	overflow: visible;
	padding-bottom: 10px;
	}

.leftbar {
	width: 180px;
	float: left;
	padding-bottom: 10px;
	}

.main {
	position: relative;
	margin-left: 20px;
	width: 560px;
	float: left;
	overflow: hidden;
	}

.main-product {
	position: relative;
	width: 760px;
	float: right;
	overflow: hidden;
	}

.main-full {
	overflow: visible;
	padding: 0 10px;
	}

.rightbar {
	width: 180px;
	float: right
	}




/* ----- top ----- */

.top-wrap {
	background: url('img/bg_top.png') repeat-x bottom;
	padding-bottom: 4px;
	}

.top {
	width: 960px;
	margin: 0 auto;
	padding: 8px 0;
	font-size: 11px;
	overflow: hidden;
	}

.top ul li {
	margin: 0; padding: 0; background: 0;
	float: left;
	margin: 0 10px;
	}

.top ul li a {
	color: #1e2504;
	font-weight: bold;
	}



/* ----- header ----- */

.header {
	padding: 10px 0;
	overflow: hidden;
	}

.logo a {
	display: block;
	height: 75px;
	width: 230px;
	background: url('img/logo.png') no-repeat;
	}

.modra-st {
	width: 130px;
	height: 50px;
	float: right;
	background: url('img/i_modra-st.png') no-repeat;
	margin: 15px 20px 0 0;
	}

.cart {
	width: 240px;
	height: 60px;
	float: right;
	background: url('img/bg_cart.png') no-repeat;
	margin: 7px 0 0 0;
	text-transform: uppercase;
	color: #628d1e;
	font-size: 11px;
	overflow: hidden;
	}

	.cart-content {
		margin: 18px 0 0 70px;
		border: 0px solid gray;
		width: 75px;
		float: left;
		}

		.cart-content span {
			color: #000000;
			font-weight: bold;
			font-size: 12px;
			}

	.cart-button {
		float: right;
		margin: 18px 18px 0 0;
		border: 0px solid gray;
		width: 70px;
		}

	.cart-button a {
		display: block;
		background: url('img/btn_checkout.png') no-repeat;
		width: 75px;
		height: 24px;
		}

	.cart-button a:hover {
		background-position: 0 -24px;
		}


/* ----- navigation - main ----- */


.navigation {
	overflow: visible;
	position: relative;
	background: #688b26 url('img/bg_nav.png') repeat-x top;
	border-bottom: 6px solid #5f8205;
	padding: 8px 0 2px 0;
	border-radius: 5px;
	margin-bottom: 30px;
	}

	.nav-main li {
		margin: 0; padding: 0; background: 0;
		float: left;
		margin: 0 0px;
		padding: 0 10px;
		border-right: 1px dotted #88a454;
		}

	.nav-main li a {
		font-family: 'Georgia';
		display: block;
		color: #ffffff;
		font-weight: bold;
		padding: 5px 10px;
		font-size: 13px;
		text-shadow: 1px 1px 1px #34430e;
		}

	.nav-main li a:hover {
		color: #f8ffbc;
		text-decoration: none;
		border: 1px dashed #f1f8c3;
		border-radius: 4px;
		padding: 4px 9px;
		}

.dropdown {
	position: absolute;
	left: 250px;
	top: 50px;
	background: #ffffff;
	padding: 5px;
	z-index: 10000;
	border: 1px dashed #6d7c45;
	border-radius: 3px;
	}

.dropdown-bg {
	position: relative;
	background: #5f8205 url('img/bg_dropdown.png') repeat;
	padding: 10px 15px 10px 15px;
	border: 0px dashed #384d03;
	border-radius: 3px;
	}

	.nav-main-dropdown li {
		margin: 0; padding: 0; background: 0;
		margin: 3px 0px;
		padding: 0;
		}

	.nav-main-dropdown li a {
		display: block;
		border: 0px solid white;
		padding: 5px 50px 5px 5px;
		font-family: Georgia;
		color: #ffffff;
		text-shadow: 1px 1px 1px #34430e;
		}

	.nav-main-dropdown li a:hover {
		color: #f8ffbc;
		text-decoration: none;
		border: 1px dashed #f1f8c3;
		border-radius: 4px;
		padding: 4px 49px 4px 4px;
		}


.dropdown-arrow {
	position: absolute;
	left: 30px;
	top: -11px;
	width: 30px;
	height: 11px;
	background: url('img/i_arrow-dropdown.png') repeat;
	}



/* ----- search box ----- */

.search-bg {
	/*width: 180px;*/
	background: #f3f5d8;
	margin: 5px -5px 10px 5px;
	}

.search-border {
	position: relative;
	top: -5px;
	bottom: 5px;
	left: -5px;
	right: 5px;
	border: 1px dashed #89a1aa;
	padding: 15px 0 10px 15px;
	}


/* ----- navigation - sidebar ----- */


.subnav-bg {
	/*width: 180px;*/
	background: #d2edf7;
	margin: 5px -5px 15px 5px;
	}

.subnav-border {
	position: relative;
	top: -5px;
	bottom: 5px;
	left: -5px;
	right: 5px;
	border: 1px dashed #89a1aa;
	padding: 10px 15px 10px 15px;
	}


ul.subnav-l1 li {
	margin: 0; padding: 0; background: 0;
	margin: 10px 0;
	font-size: 16px;
	font-family: 'Georgia';
	}

ul.subnav-l1 li a {
	padding: 5px;
	color: #000000;
	display: block;
	}

ul.subnav-l1 li a:hover, ul.subnav-l1 li.selected {
	color: #000000;
	display: block;
	border: 1px dashed #a5bec7;
	text-decoration: none;
	padding: 4px;
	background: #c3e2ed;
	border-radius: 4px;
	}

ul.subnav-l1 li ul.subnav-l2 li {
	margin: 0; padding: 0; background: 0;
	margin: 10px 10px;
	font-size: 12px;
	color: #000000;
	}


ul.subnav-l1 li ul.subnav-l2 li a:hover, ul.subnav-l1 li ul.subnav-l2 li.selected {
	color: #000000;
	display: block;
	border: 1px dashed #a5bec7;
	text-decoration: none;
	padding: 4px;
	background: #b7d9e6;
	border-radius: 4px;
	}


/* ----- products ----- */

.product-box {
	padding: 5px;
	width: 160px;
	min-height: 215px;
	border: 1px dashed #bfc0a7;
	background: #ffffff;
	float: left;
	margin: 11px 22px 11px 0;
	font-family: 'Georgia';
	line-height: 16px;
	}

.last {
	margin-right: 0;
	}

.product-box a {
	color: #000000;
	}

	.product-name {
		font-weight: bold;
		margin-top: 5px;
		}


	.product-price {
		font-weight: bold;
		color: #868a33;
		font-size: 14px;
		margin-top: 5px;
		}


.filters {
	background-color: #f3f5d8;
	padding: 5px;
	font-size: 11px;
	text-align: right;
	border-bottom: 1px solid #e0e683;
	}



.pagging {
	padding: 3px 0;
	overflow: hidden;
	font-size: 11px;
	}

.pagging ul {
	margin: 0; padding: 0; background: 0;
	float: right;
	}

	.pagging li {
		margin: 0; padding: 0; background: 0;
		float: left;
		margin: 0 1px;
		}

	.pagging li a {
		display: block;
		float: left;
		padding: 3px 6px;
		}

	.pagging li a.selected {
		color: #ffffff;
		background: #446506;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		}


.crumbs {
	background-color: #f3f5d8;
	padding: 5px;
	font-size: 11px;
	border-bottom: 1px solid #e0e683;
	margin-bottom: 20px;
	color: #888974;
	}

.product-gallery {
	width: 360px;
	float: left;
	padding: 5px;
	border: 1px dashed #bfc0a7;
	}

	.thumbs {
		margin-top: 10px;
		overflow: hidden;
		}

	.thumb {
		float: left;
		margin-right: 20px;
		}

	.thumbs .last {
		margin-right: 0;
		}


.product-info {
	width: 370px;
	float: right;
	}

.product-options {
	margin-top: 30px;
	}

.product-options-price {
	font-size: 13px;
	font-weight: bold;
	color: #868a33;
	font-family: Georgia;
	}

.product-options-list li {
	margin: 0; padding: 0; background: 0;
	margin: 4px 0;
	padding: 6px;
	background: #f3f5d8;
	border-radius: 5px;
	}

.product-options-list li:hover {
	background: #e9ebc2;
	border: 1px dashed #bfc0a7;
	padding: 5px;
	border-radius: 5px;
	}

.product-description {
	margin-top: 30px;
	}


/* ----- cart / checkout ----- */

.cart-item {
	background: #ffffff;
	padding: 5px;
	overflow: hidden;
	font-size: 11px;
	border: 0px dashed #bfc0a7;
	border-right: 1px solid #96b3c6;
	border-bottom: 1px solid #96b3c6;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	}

	.cart-item img {
		float: left;
		margin-right: 5px;
		}

	.cart-item div {
		font-weight: bold;
		margin-bottom: 5px;
		}

	.cart-sum {
		font-weight: bold;
		margin-top: 10px;
		font-size: 13px;
		}

.alert {
	line-height: 14px;
	padding: 15px;
	background: #e89c9c;
	border: 1px dashed #c15a6f;
	border-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 15px;
	}

.form-error {
	font-size: 11px;
	font-weight: bold;
	color: #dd0b0b;
	}

.cart-payment {
	display: block;
	float: left;
	width: 60px;
	padding: 10px;
	border: 1px dashed #dddddd;
	text-align: center;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	margin-right: 10px;
	}

.cart-payment:hover, .cart-payment-selected {
	border: 1px dashed #bbbbbb;
	text-decoration: none;
	background: #f3f5d8;
	}
	
	.cart-payment img {
		margin-bottom: 5px;
		}


/* ----- sidebar widgets ----- */

.text-widget {
	padding: 5px;
	font-size: 11px;
	}

.right-widget {
	display: block;
	background: #688b26 url('img/i_flower.png') no-repeat 125px 8px;
	padding: 15px 10px;
	color: #ffffff;
	font-size: 18px;
	font-family: Georgia;
	border-bottom: 3px solid #475b21;
	border-radius: 3px;
	margin-bottom: 10px;
	}

	.right-widget:hover {
		text-decoration: none;
		color: #fcffd2;
		background: #79a22c url('img/i_flower.png') no-repeat 125px 8px;
		}

.right-widget-big {
	display: block;
	background: #37707a url('img/i_spiral.png') no-repeat 125px 8px;
	padding: 15px 10px;
	color: #ffffff;
	font-size: 18px;
	font-family: Georgia;
	border-bottom: 3px solid #265760;
	border-radius: 3px;
	margin-bottom: 10px;
	}

.right-widget-big span {
	display: block;
	font-size: 11px;
	margin-top: 5px;
	font-weight: normal;
	font-family: Arial;
	line-height: 15px;
	color: #a7ccd3;
	}

	.right-widget-big:hover {
		text-decoration: none;
		color: #fcffd2;
		background: #4d8893 url('img/i_spiral.png') no-repeat 125px 8px;
		}



.reg-info {
	line-height: 14px;
	position: absolute;
	top: 25px;
	left: 260px;
	width: 320px;
	padding: 15px;
	background: #f3f5d8 url('img/i_info.png') no-repeat 10px 8px;
	padding-left: 45px;
	border: 1px dashed #dddddd;
	border-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	}


/* ----- footer ----- */

.footer {
	}

.footer-bg {
	/*width: 180px;*/
	background: #f3f5d8;
	/*margin: 5px -5px -5px 5px;*/
	margin-top: 30px;
	font-size: 11px;
	border-bottom: 1px solid #dee1b3;
	color: #888974;
	}

.footer-border {
	position: relative;
	top: -3px;
	bottom: 5px;
	left: -5px;
	right: 5px;
	border: 1px dashed #cccccc;
	padding: 10px 10px 5px 10px;
	}




